* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#info {
  padding: 25px 0 25px 0;
  text-align: right;
}

#display {
  border-right: 1px solid #E1DFE5;
  height: 100vh;
  padding-right: 4%;
}

#choose-sort {
  padding-top: 50px;
  border-left: 1px solid #E1DFE5;
  border-right: 1px solid #E1DFE5;
  height: 100vh;
}

.bar {
  background-color: #F9AB55;
  width: 2%;
  display: inline-flex;
  align-items: flex-end;
  border: 1px solid white;
  box-sizing: border-box;
}

.option {
  padding: 8px 8px 8px 15px;
  background-color: white;
  user-select: none;
}

.option:hover {
  background-color: #FDEFE0;
}

.fa-github {
  font-size: 4em;
}
